body{background-color:rgb(248, 247, 245)}
h1{color:rgb(255, 52, 52); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-weight: bold; border: solid 5px rgb(255, 239, 15); padding: 5px; border-radius: 25px; 
     font-size: 65px ; margin-left: 20px; margin-right: 1300px; text-align:left;}
li{color: rgb(228, 21, 149); font-size: 20px;font-weight: bold;margin: 15px;}
h3{color: rgb(79, 111, 255);font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px; margin-left: 20px; text-decoration: underline;}
img{border-radius: 25px; margin-left: 25px;}
p{font-size: 25px; color: rgba(43, 255, 15, 0.726); margin-left: 15px;}